.inicio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }
  
  .inicio-title {
    font-size: 44px; 
    font-weight: bold;
    margin-bottom: 20px;
    color: tomato;
  }
  
  .inicio-content {
    width: 300px;
    padding: 20px;
    background-color: thistle; 
    text-align: center; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  